  <section class="section-padding">
    <div id="guiadetallas" class="div-padding text-left">
      <b>MEDIDAS DE CUERPO (cm)</b>
      <br>
      <small>
        Para elegir la talla correcta de tus prendas inferiores, es importante tomar en cuenta la medida de tu cintura
        <br>
        <br>
        Mide alrededor de tu cintura natural, que es la parte más estrecha de tu torso. Asegúrate de que la cinta
        métrica quede ajustada pero sin apretar demasiado. Consulta nuestra tabla de tallas y compara tus medidas con
        las referencias indicadas para encontrar la opción que mejor se adapte a ti. Si estás entre dos tallas, te
        recomendamos elegir según el ajuste que prefieras: una talla más pequeña para un ajuste más ceñido o una más
        grande para mayor holgura.
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Contorno de Cintura</th>
              <th class="table-header">Sugerencia de talla numerica</th>
              <th class="table-header">Eres talla...</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">Hasta 73 cms</td>
              <td class="table-cell">Talla 5-7</td>
              <td class="table-cell bold-text">XC</td>
            </tr>
            <tr>
              <td class="table-cell">Hasta 78 cms</td>
              <td class="table-cell">Talla 8-9</td>
              <td class="table-cell bold-text">CH</td>
            </tr>
            <tr>
              <td class="table-cell">Hasta 83 cms</td>
              <td class="table-cell">Talla 10-11</td>
              <td class="table-cell bold-text">MD</td>
            </tr>
            <tr>
              <td class="table-cell">Hasta 88 cms</td>
              <td class="table-cell">Talla 12-13</td>
              <td class="table-cell bold-text">GD</td>
            </tr>
            <tr>
              <td class="table-cell">Hasta 93 cms</td>
              <td class="table-cell">Talla 14-15</td>
              <td class="table-cell bold-text">XG</td>
            </tr>
            <tr>
              <td class="table-cell">Hasta 98 cms</td>
              <td class="table-cell">Talla 16-17</td>
              <td class="table-cell bold-text">2X</td>
            </tr>
            <tr>
              <td class="table-cell">Hasta 103 cms</td>
              <td class="table-cell">Talla 18-19</td>
              <td class="table-cell bold-text">3X</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/INFERIOR_DAMA.png?v=1738344602"
          class="body-image"
        >
      </div>
    </div>
  </section>