<section class="benefits-section">
  <h2 class="section-title">Beneficios Bravo Booster</h2>
  <div class="benefits-grid">
    <div class="benefit-card">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
          <path fill="currentColor" d="M11.487 20.5v-2.035q-1.287-.165-2.211-.89q-.924-.725-1.374-2.006l.927-.404q.433 1.123 1.19 1.73q.756.605 2.052.605q1.14 0 2.084-.568q.943-.569.943-1.832q0-1.067-.694-1.714q-.694-.648-2.598-1.26q-1.939-.616-2.73-1.41q-.79-.793-.79-2.066q0-1.394 1.07-2.227q1.069-.833 2.13-.9V3.5h1v2.023q1.039.104 1.784.576q.745.472 1.236 1.343l-.889.454q-.357-.646-.984-1.046t-1.596-.4q-1.158 0-1.954.613q-.796.612-.796 1.587q0 .921.653 1.492q.654.571 2.62 1.193q1.82.577 2.68 1.481q.858.905.858 2.272q0 1.506-1.06 2.393q-1.06.886-2.551.996V20.5h-1Z"/>
        </svg>
      </div>
      <h3>Más Ingresos</h3>
      <div class="card-category">Rentabilidad</div>
      <p>Impulsa las ventas de tu negocio o empieza a generar dinero extra.</p>
    </div>
    <div class="benefit-card">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
          <path fill="currentColor" d="M3 15.385v-1.327h1.365v1.327H3Zm0-3.404v-1.327h1.365v1.327H3Zm0-3.385V7.288h1.365v1.308H3Zm3.75 6.616v-1h2.942v1H6.75Zm0-3.385v-1h11.558v1H6.75Zm0-3.385v-1h11.558v1H6.75ZM15.662 19l-3.385-3.385l.713-.713l2.672 2.671l5.284-5.285l.708.72L15.662 19Z"/>
          </svg>
      </div>
      <h3>Más Opciones</h3>
      <div class="card-category">Diversidad</div>
      <p>Explora categorías y elige la que mejor se adapte a tu red de contactos.</p>
    </div>
    <div class="benefit-card">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor">
            <path stroke-width="1.5" d="M10.51 3.665a2 2 0 0 1 2.98 0l.7.782a2 2 0 0 0 1.601.663l1.05-.058a2 2 0 0 1 2.107 2.108l-.058 1.049a2 2 0 0 0 .663 1.6l.782.7a2 2 0 0 1 0 2.981l-.782.7a2 2 0 0 0-.663 1.601l.058 1.05a2 2 0 0 1-2.108 2.107l-1.049-.058a2 2 0 0 0-1.6.663l-.7.782a2 2 0 0 1-2.981 0l-.7-.782a2 2 0 0 0-1.601-.663l-1.05.058a2 2 0 0 1-2.107-2.108l.058-1.049a2 2 0 0 0-.663-1.6l-.782-.7a2 2 0 0 1 0-2.981l.782-.7a2 2 0 0 0 .663-1.601l-.058-1.05A2 2 0 0 1 7.16 5.053l1.049.058a2 2 0 0 0 1.6-.663l.7-.782Z"/>
            <path stroke-linejoin="round" stroke-width="2.25" d="M9.5 9.5h.01v.01H9.5zm5 5h.01v.01h-.01z"/>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m15 9l-6 6"/>
        </g>
      </svg>
      </div>
      <h3>Más Descuentos</h3>
      <div class="card-category">Ahorro</div>
      <p>Precios exclusivos para ayudarte a generar ingresos.</p>
    </div>
    <div class="benefit-card">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor">
            <circle cx="12" cy="12" r="8.5"/>
            <path stroke-linecap="round" d="M16.5 12h-4.25a.25.25 0 0 1-.25-.25V8.5"/>
          </g>
        </svg>
      </div>
      <h3>Más Tiempo</h3>
      <div class="card-category">Flexibilidad</div>
      <p>Trabaja a tu ritmo desde donde quieras. 100% flexible.</p>
    </div>
  </div>
</section>
<style>

    .benefits-section {
        text-align: center;
        padding: 60px 20px;
    }
    .card-category{
      display: inline-block;
      background: #f7f7f7;
      color: #000000;
      padding: 8px 20px;
      border-radius: 1px;
      font-size: 12px;
      text-transform: uppercase;
      box-shadow: -5px 0px 15px 0px #0000002b;
    }
    .section-title {
      font-size: 2rem;
      margin-bottom: 40px;
    }
    .benefits-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 30px;
    }
    .benefit-card {
      display: grid;
      grid-template-rows: repeat(3, auto);
      background: #ffffff00;
      border-radius: 20px;
      padding: 30px;
      /* box-shadow: 0px -6px 3px 0px rgba(0, 0, 0, 0.05); */
      transition: transform 0.3s;
      align-items: center;
      justify-items: center;
      align-content: center;
    }
    .benefit-card:hover {
      transform: translateY(-10px);
    }
    .icon {
      font-size: 2.5rem;
    }
</style>