<!-- GUIA DOHA -->
{% if product.tags contains 'guia doha' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">21 cm</td>
              <td class="table-cell bold-text"> cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA NAPOLES -->
{% if product.tags contains 'guia napoles' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">81 cm</td>
              <td class="table-cell bold-text">147 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA SORRENTO -->
{% if product.tags contains 'guia sorrento' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">82 cm</td>
              <td class="table-cell bold-text">67 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA OVIEDO -->
{% if product.tags contains 'guia oviedo' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">78 cm</td>
              <td class="table-cell bold-text">52 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA SANTIAGO -->
{% if product.tags contains 'guia santiago' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">75 cm</td>
              <td class="table-cell bold-text">65 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA TEHERAN -->
{% if product.tags contains 'guia teheran' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">80 cm</td>
              <td class="table-cell bold-text">75 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA SORRENTO -->
{% if product.tags contains 'guia sorrento' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">65 cm</td>
              <td class="table-cell bold-text">75 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA MONTEVIDEO -->
{% if product.tags contains 'guia montevideo' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">73 cm</td>
              <td class="table-cell bold-text">81 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA CERDEÑA -->
{% if product.tags contains 'guia cerdeña' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">53 cm</td>
              <td class="table-cell bold-text">81 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA SEVILLA -->
{% if product.tags contains 'guia sevilla' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">66 cm</td>
              <td class="table-cell bold-text">66 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA BURDEOS -->
{% if product.tags contains 'guia burdeos' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">80 cm</td>
              <td class="table-cell bold-text">83 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA FLORENCIA -->
{% if product.tags contains 'guia florencia' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">80 cm</td>
              <td class="table-cell bold-text">83 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA OXFORD -->
{% if product.tags contains 'guia oxford' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">80 cm</td>
              <td class="table-cell bold-text">156 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA PRAGA -->
{% if product.tags contains 'guia praga' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">81 cm</td>
              <td class="table-cell bold-text">150 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA VERONA -->
{% if product.tags contains 'guia verona' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">83 cm</td>
              <td class="table-cell bold-text">83 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}
<!-- GUIA PETO LIMA -->
{% if product.tags contains 'guia peto lima' %}
  <section class="section-padding">
    <div id="guiadetallas" class="div-padding">
      <b>GUIA DE TALLA MANDILES</b>
      <br>
      <small>
        Consulta las medidas de tu cuerpo y selecciona la talla adecuada. 
      </small>
    </div>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="measurement-table">
          <thead>
            <tr>
              <th class="table-header">Largo Mandil</th>
              <th class="table-header">Largo cinta de amarre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-cell">81 cm</td>
              <td class="table-cell bold-text">147 cm</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="image-container">
        <img
          alt="Imagen de medidas de cuerpo"
          src="https://cdn.shopify.com/s/files/1/0481/0273/6030/files/TALLA.png?v=1756926695"
          class="body-image"
        >
      </div>
    </div>
  </section>
{% endif %}